<section class="chat__wrap">
  <div class="chat">
    <div class="message__user">hello</div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab fugit, officiis obcaecati id quasi qui rem, asperiores
      quaerat temporibus reiciendis accusamus eveniet assumenda quae voluptate!
      Veritatis, laboriosam.
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__my">hello</div>
    <div class="message__my">yes</div>
    <div class="message__my">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">hello</div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab fugit, officiis obcaecati id quasi qui rem, asperiores
      quaerat temporibus reiciendis accusamus eveniet assumenda quae voluptate!
      Veritatis, laboriosam.
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__my">hello</div>
    <div class="message__my">yes</div>
    <div class="message__my">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">hello</div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab fugit, officiis obcaecati id quasi qui rem, asperiores
      quaerat temporibus reiciendis accusamus eveniet assumenda quae voluptate!
      Veritatis, laboriosam.
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__my">hello</div>
    <div class="message__my">yes</div>
    <div class="message__my">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">hello</div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab fugit, officiis obcaecati id quasi qui rem, asperiores
      quaerat temporibus reiciendis accusamus eveniet assumenda quae voluptate!
      Veritatis, laboriosam.
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__my">hello</div>
    <div class="message__my">yes</div>
    <div class="message__my">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">hello</div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab fugit, officiis obcaecati id quasi qui rem, asperiores
      quaerat temporibus reiciendis accusamus eveniet assumenda quae voluptate!
      Veritatis, laboriosam.
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__my">hello</div>
    <div class="message__my">yes</div>
    <div class="message__my">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
    <div class="message__user">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ad
      reprehenderit ab
    </div>
  </div>
</section>
