<header class="header">
  <nav class="menu menu_header">
    <ul class="menu__list">
      <li class="menu__item-wrap">
        <a class="menu__item" href="#">О нас</a>
      </li>
      <li class="menu__item-wrap">
        <a class="menu__item" href="#">Как это работает</a>
      </li>
      <li class="menu__item-wrap">
        <a class="menu__item" href="#">FAQ</a>
      </li>
      <li class="menu__item-wrap">
        <a class="menu__item" href="#">Контакты</a>
      </li>
    </ul>
  </nav>
</header>
