<section class="list-users__wrap">
  <div class="list-users">
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon1.png" alt="" />
      </div>
      <div class="user__name">Баклажан</div>
      <div class="user__date">Сб</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon2.png" alt="" />
      </div>
      <div class="user__name">Марковки</div>
      <div class="user__date">Сб</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon3.png" alt="" />
      </div>
      <div class="user__name">Арбуз</div>
      <div class="user__date">Сб</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon4.png" alt="" />
      </div>
      <div class="user__name">Банан</div>
      <div class="user__date">Сб</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon5.png" alt="" />
      </div>
      <div class="user__name">Апельсин</div>
      <div class="user__date">Сб</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon1.png" alt="" />
      </div>
      <div class="user__name">Баклажан</div>
      <div class="user__date">Вс</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon2.png" alt="" />
      </div>
      <div class="user__name">Марковки</div>
      <div class="user__date">Вс</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon3.png" alt="" />
      </div>
      <div class="user__name">Арбуз</div>
      <div class="user__date">Вс</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon4.png" alt="" />
      </div>
      <div class="user__name">Банан</div>
      <div class="user__date">Вс</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon5.png" alt="" />
      </div>
      <div class="user__name">Апельсин</div>
      <div class="user__date">Вс</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon1.png" alt="" />
      </div>
      <div class="user__name">Баклажан</div>
      <div class="user__date">Пн</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon2.png" alt="" />
      </div>
      <div class="user__name">Марковки</div>
      <div class="user__date">Пн</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon3.png" alt="" />
      </div>
      <div class="user__name">Арбуз</div>
      <div class="user__date">Пн</div>
    </div>
    <div class="user">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon4.png" alt="" />
      </div>
      <div class="user__name">Банан</div>
      <div class="user__date">Пн</div>
    </div>
    <div class="user active">
      <div class="user__img-wrap">
        <img class="user__img" src="../images/user-img/icon5.png" alt="" />
      </div>
      <div class="user__name">Апельсин</div>
      <div class="user__date">Пн</div>
    </div>
  </div>
</section>
